<footer id="footer_pg">
        <div class="div_ft">
            <h2>Politica de privacidade</h2>
            <h2>Contato</h2>
            <h2>Termos de uso</h2>
            <h2>Sobre nós</h2>
        </div>
        <hr>
        <div class="div_social_media">
            <h2>Siga-nos</h2>
            <div id="social-images">
                <img src="../public/Assets/Images/Icon-instagram.png " alt="">
                <img src="../public/Assets/Images/Icon-facebook.png" alt="">
                <img src="../public/Assets/Images/Icon-Youtube.png" alt="">   
            </div><img src="../public/Assets/Images/Logo-footer.png" alt="" width="50vw" margin="0">
        </div>
        <hr>
        <div class="div_ft">
            <h2>E-mail</h2>
            <h2>Telefone</h2>
            <h2>Endereço</h2>
        </div>
    </footer>