<header id="Header">
        <img id="img_logo" src="/public/Assets/Images/Logo Header.png" alt="">
        <div id="options-hd">
            <h3>Clima</h3>
            <h3>Gerencie sua safra</h3>
            <h3>Dicas</h3>
            <form action="/login" method="get">
                <button id="btn-header" type="submit">Login</button>
            </form>
            
        </div>
    </header>