<header id="Header">
        <img src="/public/Assets/Images/Logo Header.png" alt="">
        <div id="options-hd">
            <h3>Clima</h3>
            <h3>Gerencie sua safra</h3>
            <h3>Dicas</h3>
            <button id="btn-header">Login</button>
        </div>
    </header>